h1{
    color:rgb(250,250,250);
    text-align: center;
    font-family: "Ubuntu", serif;
    font-weight: 700;
    position:relative;
    top:20px;
}

 

h4{
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: "Ubuntu", serif;
    font-weight:400;
    font-size: 17px;
    letter-spacing: 0.03cm;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    opacity: 0.81;
    position:relative;
    top:50px;
}


.alth4{
    color:rgb(255, 255, 255);
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03cm;
    margin-left: 300px;
    text-align: left;
    position:relative;
    top:50px;
}


.newp{
    color:rgb(255, 255, 255);
    font-family: "Ubuntu", serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 0.03cm;
    margin-left: 300px;
    text-align: justify;
    line-height: 25px;
    margin-right: 300px;
    opacity: 0.81;
    position:relative;
    top:50px;
}


.box{
    height: 600px;
    width: auto;
    background-size: 300px 300px;
    background-image: url("https://ik.imagekit.io/4z8covdo9/Full stack/todolistbg.png?updatedAt=1700761069523") ;
    background-size: 500px 900px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    padding: 20px;
    margin: 120px;
    opacity: 1 ;
   
}


button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(126, 29, 29, 0.1); 
    transition: box-shadow 0.3s ease;
    margin-left: 480px;
    margin-right: 500px;
    position:absolute;
    top: 80%;
  }
  
  button:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
  }
  
.h42{
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: "Ubuntu", serif;
    font-weight:400;
    font-size: 17px;
    letter-spacing: 0.03cm;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    opacity: 0.81;
    position:relative;
    top:150px;
    font-style: normal;
    text-decoration: underline;
}
